# Editor files
*.sublime-workspace

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# venv files
bin/*
lib/*
lib64
share/*
pyvenv.cfg
pip-selfcheck.json

# C extensions
*.so

# Unit test / coverage reports
htmlcov/
.coverage
.cache
coverage.xml
*.cover
.pytest_cache/
